.hero{
    min-height:100vh;
    background:linear-gradient(135deg,#0f172a,#111827,#1e293b);
    color:white;
    display:flex;
    align-items:center;
}

.hello{
    color:#60a5fa;
    font-size:22px;
    font-weight:600;
}

.name{
    font-size:64px;
    font-weight:800;
    line-height:1.1;
    margin:10px 0;
}

.role{
    color:#8b5cf6;
    font-size:34px;
    margin-bottom:20px;
}

.description{
    color:#cbd5e1;
    font-size:18px;
    line-height:1.8;
    max-width:550px;
}

.hero-buttons{
    margin-top:35px;
}

.btn-primary{
    background:#3b82f6;
    border:none;
}

.btn-primary:hover{
    background:#2563eb;
}

.social-icons{
    display:flex;
    gap:20px;
}

.social-icons a{
    font-size:30px;
    color:white;
    transition:.3s;
}

.social-icons a:hover{
    color:#3b82f6;
    transform:translateY(-5px);
}

.profile-image{
    width:380px;
    height:380px;
    object-fit:cover;
    border-radius:50%;
    border:6px solid rgba(255,255,255,.1);
    box-shadow:0 20px 60px rgba(0,0,0,.4);
}

@media(max-width:992px){

.name{
    font-size:46px;
}

.role{
    font-size:26px;
}

.profile-image{
    width:280px;
    height:280px;
    margin-top:40px;
}

.hero{
    text-align:center;
}

.description{
    margin:auto;
}

.hero-buttons{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:15px;
}

.social-icons{
    justify-content:center;
}
}