.custom-navbar{
    position: sticky;
    top:0;
    z-index:1000;

    backdrop-filter: blur(15px);

    background: rgba(15,23,42,.8);

    border-bottom:1px solid rgba(255,255,255,.08);
}

.logo{

    width:42px;
    height:42px;

    display:flex;
    justify-content:center;
    align-items:center;

    border-radius:50%;

    color:white;

    background:linear-gradient(135deg,#3b82f6,#8b5cf6);

    font-weight:bold;

    margin-right:10px;
}

.navbar-brand{

    display:flex;
    align-items:center;

    color:white;

    font-size:22px;

    font-weight:700;

    text-decoration:none;
}

.brand-name{

    color:white;
}

.nav-link{

    color:#d1d5db;

    margin-left:18px;

    transition:.3s;

    font-weight:500;
}

.nav-link:hover{

    color:#3b82f6;
}

.active{

    color:#3b82f6!important;
}

.navbar-toggler{

    color:white;

    border:none;
}

.fa-bars{

    color:white;

    font-size:22px;
}